<%- include('includes/head'); %>

    <div class="container col-4 py-5">
        <div class="card">
            <div class="card-header">
                <h4>Editar Conjunto</h4>
                <%- include('includes/messages'); %>
            </div>
            <div class="card-body">
                <form action="/conjunto/register" method="POST">
                    <div class="mb-4">
                        <input type="text" class="form-control" placeholder="Nome" name="nome">
                    </div>
                    <div class="mb-4">
                        <label for="exampleInputEmail1" class="form-label">Data de Fundação</label>
                        <input type="date" class="form-control" name="fundacao">
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn btn-secondary" href="/" role="button">Voltar</a>

                </form>
            </div>
        </div>
    </div>


    <%- include('includes/footer'); %>